body
{
    background-image: url(/Cababas/pink.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

#cababas
{
    position: absolute;
    top: 30%;
}

#container{
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px black solid;
}

#videoElement
{
    width: 500px;
    height: 375px;
    background-color: grey;
}